html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        display: inline;
}

tr {
  text-align: center;
}

td {
  border-width: 2px solid black;
  background-color: silver;
}

#search {
  height: 15%;
  width: 25%;
  background-color: red;
  position: absolute;
  margin: 0;
}

#header {
  height: 15%;
  width: 100%;
  text-align: center;
  float: right;
  background-color: darkgrey;
}

h4 {
  margin-bottom: 0em;
  margin-top: 0em;
}

p {
  font-size: .85em;
  margin-top: .5em;
}

#map {
  height: 85%;
  width: 75%;
  float: right;
  margin: 0 0 0 0;
}

#list {
  height: 85%;
  width: 25%;
  background-color: red;
  position: absolute;
  margin: 0 0 0 0;
  bottom: 0;
  padding: 0;
}

#listTable {
  height: 100%;
  width: 100%;
  margin: 0;
}

#searchbar {
  size: 90%;
}